* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v292_439 {
  width: 100%;
  height: 4070px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v292_103 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
  overflow: hidden;
}
.v292_171 {
  width: 100%;
  height: 506px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 919px;
  left: 50px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v292_178 {
  width: 100%;
  height: 574px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2837px;
  left: 84px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v292_104 {
  width: 92px;
  height: 92px;
  background: rgba(1,84,95,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 56px;
  border-radius: 50%;
}
.v292_105 {
  width: 23px;
  height: 54px;
  background: url("../images/v292_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 91px;
  overflow: hidden;
}
.Agua-Viva {
  width: 61px;
  color: rgba(244,250,252,1);
  position: absolute;
  top: 70px;
  left: 72px;
  font-family: Baloo Bhai 2;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.Nossos-parceiros {
  width: 397px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2885px;
  left: 56px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.entre-em-contato {
  width: 629px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3470px;
  left: 57px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v292_110 {
  width: 614px;
  color: url("../images/v292_110.png");
  position: absolute;
  top: 240px;
  left: 49px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 55px;
  opacity: 1;
  text-align: left;
}
.v292_111 {
  width: 726px;
  height: 826px;
  background: url("../images/v292_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 826px;
  left: 730px;
  border-top-left-radius: 161px;
  border-top-right-radius: 7px;
  overflow: hidden;
}
.v292_113 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 46px;
  left: 190px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v292_114 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 46px;
  left: 279px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v292_115 {
  width: 100%;
  height: 855px;
  background: url("../images/v292_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2308px;
  left: 6px;
  overflow: hidden;
}
.v292_163 {
  width: 279px;
  height: 60px;
  background: rgba(1,88,103,1);
  opacity: 1;
  position: absolute;
  top: 615px;
  left: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v270_24 {
  width: 591px;
  height: 100%;
  background: url("../images/v270_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2161px;
  left: 2239px;
  overflow: hidden;
}
.v292_117 {
  width: 157px;
  color: rgba(241,241,241,1);
  position: absolute;
  top: 631px;
  left: 97px;
  font-family: Space Grotesk;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v292_124 {
  width: 24px;
  height: 24px;
  background: rgba(1,88,103,1);
  opacity: 1;
  position: absolute;
  top: 635px;
  left: 282px;
  overflow: hidden;
}
.v292_125 {
  width: 24px;
  height: 24px;
  background: url("../images/v292_125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v292_126 {
  width: 24px;
  height: 24px;
  background: url("../images/v292_126.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v292_127 {
  width: 13px;
  height: 17px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 3px;
}
.v292_165 {
  width: 279px;
  height: 60px;
  background: rgba(1,88,103,1);
  opacity: 1;
  position: absolute;
  top: 1331px;
  left: 617px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.saiba-mais1 {
  width: 103px;
  color: rgba(241,241,241,1);
  position: absolute;
  top: 1346px;
  left: 705px;
  font-family: Space Grotesk;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v292_174 {
  width: 279px;
  height: 60px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 2548px;
  left: 581px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.saiba-mais2 {
  width: 103px;
  color: rgba(1,85,98,1);
  position: absolute;
  top: 2563px;
  left: 669px;
  font-family: Space Grotesk;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v292_135 {
  width: 100%;
  height: 353px;
  background: rgba(1,85,98,1);
  opacity: 1;
  position: absolute;
  top: 2972px;
  left: 56px;
  border: 6.946818828582764px solid rgba(1,85,98,1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v292_176 {
  width: 4px;
  height: 353px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 2972px;
  left: 518px;
  overflow: hidden;
}
.v292_177 {
  width: 4px;
  height: 353px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 2972px;
  left: 952px;
  overflow: hidden;
}
.ecotech {
  width: 162px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3100px;
  left: 247px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v292_139 {
  width: 120px;
  height: 120px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3085px;
  left: 1242px;
  overflow: hidden;
}
.v292_140 {
  width: 118px;
  height: 85px;
  background: url("../images/v292_140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 98px;
  transform: rotate(-180deg);
  overflow: hidden;
}
.v292_141 {
  width: 118px;
  height: 85px;
  background: url("../images/v292_141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-180deg);
  overflow: hidden;
}
.v292_142 {
  width: 118px;
  height: 85px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-180deg);
}
.v292_143 {
  width: 118px;
  height: 84px;
  background: url("../images/v292_143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  transform: rotate(-180deg);
  overflow: hidden;
}
.v292_144 {
  width: 118px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-180deg);
}
.v292_145 {
  width: 242px;
  height: 242px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3026px;
  left: 600px;
  overflow: hidden;
}
.v292_146 {
  width: 194px;
  height: 194px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 27px;
}
.v292_147 {
  width: 70px;
  height: 70px;
  background: rgba(1,85,98,1);
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 89px;
  border-radius: 50%;
}
.v292_148 {
  width: 322px;
  height: 48px;
  background: rgba(1,85,98,1);
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 37px;
  overflow: hidden;
}
.navatlantica {
  width: 213px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 104px;
  left: 18px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.serpentina {
  width: 199px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3184px;
  left: 1057px;
  font-family: JejuGothic;
  font-weight: Regular;
  font-size: 39px;
  opacity: 1;
  text-align: center;
}
.sobrenos {
  width: 232px;
  color: rgba(241,241,241,1);
  position: absolute;
  top: 2302px;
  left: 605px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.objetivo {
  width: 281px;
  color: rgba(1,85,98,1);
  position: absolute;
  top: 1030px;
  left: 95px;
  font-family: Anybody;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.onda {
  width: 416px;
  color: url("../images/v292_159.png");
  position: absolute;
  top: 1101px;
  left: 95px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.texto {
  width: 708px;
  color: url("../images/v292_160.png");
  position: absolute;
  top: 1028px;
  left: 616px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.pq-voluntario {
  width: 537px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1526px;
  left: 64px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v275_1105 {
  width: 404px;
  height: 192px;
  background: rgba(1,85,98,1);
  opacity: 1;
  position: absolute;
  top: 1627px;
  left: 50px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v275_1108 {
  width: 404px;
  height: 192px;
  background: rgba(1,85,98,1);
  opacity: 1;
  position: absolute;
  top: 1627px;
  left: 518px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v275_1109 {
  width: 404px;
  height: 192px;
  background: rgba(1,85,98,1);
  opacity: 1;
  position: absolute;
  top: 1627px;
  left: 986px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v275_1089 {
  width: 116px;
  height: 116px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1665px;
  left: 194px;
  overflow: hidden;
}
.v275_1090 {
  width: 96px;
  height: 82px;
  background: url("../images/v275_1090.png");
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 10px;
  border: 6px solid rgba(241,241,241,1);
}
.v275_1087 {
  width: 110px;
  height: 114px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1666px;
  left: 665px;
  overflow: hidden;
}
.v275_1088 {
  width: 109px;
  height: 78px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 1px;
}
.v275_1093 {
  width: 106px;
  height: 106px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1670px;
  left: 1135px;
  overflow: hidden;
}
.v275_1094 {
  width: 88px;
  height: 67px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 9px;
}
.texto-parceria {
  width: 376px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1803px;
  left: 532px;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.texto-boas-acoes {
  width: 376px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1795px;
  left: 64px;
  font-family: Space Grotesk;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v275_1100 {
  width: 376px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1810px;
  left: 1000px;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v292_118 {
  width: 537px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1526px;
  left: 64px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v292_119 {
  width: 404px;
  height: 192px;
  background: rgba(1,85,98,1);
  opacity: 1;
  position: absolute;
  top: 1627px;
  left: 50px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v292_120 {
  width: 404px;
  height: 192px;
  background: rgba(1,85,98,1);
  opacity: 1;
  position: absolute;
  top: 1627px;
  left: 518px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v292_121 {
  width: 404px;
  height: 192px;
  background: rgba(1,85,98,1);
  opacity: 1;
  position: absolute;
  top: 1627px;
  left: 986px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v292_122 {
  width: 116px;
  height: 116px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1665px;
  left: 194px;
  overflow: hidden;
}
.v292_123 {
  width: 96px;
  height: 82px;
  background: url("../images/v292_123.png");
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 10px;
  border: 6px solid rgba(241,241,241,1);
}
.v292_128 {
  width: 110px;
  height: 114px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1666px;
  left: 665px;
  overflow: hidden;
}
.v292_129 {
  width: 109px;
  height: 78px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 1px;
}
.v292_130 {
  width: 106px;
  height: 106px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1670px;
  left: 1135px;
  overflow: hidden;
}
.v292_131 {
  width: 88px;
  height: 67px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 9px;
}
.v277_1119 {
  width: 95px;
  height: 96px;
  background: url("../images/v277_1119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3098px;
  left: 120px;
  overflow: hidden;
}
.v277_1115 {
  width: 95px;
  height: 96px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v277_1116 {
  width: 28px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 35px;
}
.v277_1117 {
  width: 27px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 31px;
}
.v277_1118 {
  width: 17px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 39px;
}
.v295_62 {
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1875px;
  left: 252px;
  font-family: Space Grotesk;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v292_161 {
  width: 5px;
  height: 263px;
  background: rgba(1,85,98,1);
  opacity: 1;
  position: absolute;
  top: 1041px;
  left: 561px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v287_79 {
  width: 118px;
  height: 85px;
  background: url("../images/v287_79.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3073px;
  left: 1166px;
  overflow: hidden;
}
.v287_80 {
  width: 118px;
  height: 85px;
  background: url("../images/v287_80.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v287_81 {
  width: 118px;
  height: 85px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v287_82 {
  width: 118px;
  height: 84px;
  background: url("../images/v287_82.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v287_83 {
  width: 118px;
  height: 84px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v292_173 {
  width: 819px;
  color: rgba(241,241,241,1);
  position: absolute;
  top: 2410px;
  left: 311px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v295_64 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1868px;
  left: 200px;
  font-family: Space Grotesk;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v273_1043 {
  width: 500px;
  height: 48px;
  background: url("../images/v273_1043.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 3482px;
  left: 796px;
  overflow: hidden;
}
.v273_1044 {
  width: 500px;
  height: 48px;
  background: url("../images/v273_1044.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v273_1045 {
  width: 360px;
  height: 48px;
  background: rgba(255,255,255,1);
  padding: 12px 12px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v273_1046 {
  width: 320px;
  color: rgba(80,80,80,1);
  position: absolute;
  top: 12px;
  left: 12px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v273_1047 {
  width: 124px;
  height: 48px;
  background: url("../images/v273_1047.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 32px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 376px;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  overflow: hidden;
}
.v273_1048 {
  width: 60px;
  color: rgba(3,23,73,1);
  position: absolute;
  top: 12px;
  left: 32px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
