html {
  line-height: 1.15;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}
p,
li,
ul,
pre,
div,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
figcaption {
  margin: 0;
  padding: 0;
}
button {
  background-color: transparent;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #11bd9a;
}

button:active {
  background-color: #11bd9a;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focus,
[type="button"]:-moz-focus,
[type="reset"]:-moz-focus,
[type="submit"]:-moz-focus {
  outline: 1px dotted ButtonText;
}
a {
  color: inherit;
  text-decoration: inherit;
}
input {
  padding: 2px 4px;
}
img {
  display: block;
}
html {
  scroll-behavior: smooth;
}
html {
  font-family: Inter;
  font-size: 16px;
}

body {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-theme-neutral-dark);
  background-color: var(--dl-color-theme-neutral-light);

  fill: var(--dl-color-theme-neutral-dark);
}

.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-content {
  width: 100%;
  height: 3204px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center; /* Centraliza o conteúdo na horizontal */
  flex-shrink: 0;
  background-color: rgba(241, 241, 241, 1);
}

.rectangle-explore {
  top: 1192px;
  left: 689px;
  width: 751px;
  height: 755px;
  position: absolute;
}
.text-explore {
  top: 1257px;
  left: 1217px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Medium;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.rectangle-community {
  top: 2043px;
  left: 0px;
  width: 751px;
  height: 824px;
  position: absolute;
}
.rectangle-travel {
  top: 182px;
  left: 0px;
  width: 751px;
  height: 924px;
  position: absolute;
}
.text-make-difference {
  top: 243px;
  left: 79px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Medium;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.image-travel {
  top: 1192px;
  left: 0px;
  width: 689px;
  height: 755px;
  position: absolute;
}
.image-community {
  top: 2043px;
  left: 751px;
  width: 689px;
  height: 824px;
  position: absolute;
}
.text-community {
  top: 2105px;
  left: 64px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Medium;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.text-community-description {
  top: 2133px;
  left: 64px;
  color: rgba(0, 0, 0, 1);
  width: 596px;
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.text-community-description-part-1 {
  color: rgba(0, 0, 0, 1);
}
.text-community-description-part-2 {
  color: rgba(0, 0, 0, 1);
}
.text-community-description-part-3 {
  color: rgba(58, 144, 158, 1);
}
.text-community-description-part-4 {
  color: rgba(1, 85, 98, 1);
}
.button-community {
  gap: 8px;
  top: 1833px;
  left: 751px;
  width: 197px;
  height: 70px;
  display: flex;
  padding: 14px 24px;
  position: absolute;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.text-button-community {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.button-explore {
  gap: 8px;
  top: 982px;
  left: 492px;
  width: 197px;
  height: 70px;
  display: flex;
  padding: 14px 24px;
  position: absolute;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.text-button-explore {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.text-travel {
  top: 337px;
  left: 87px;
  color: rgba(0, 0, 0, 1);
  width: 577px;
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.text-travel-part-1 {
  color: rgba(0, 0, 0, 1);
}
.text-travel-part-2 {
  color: rgba(1, 85, 98, 1);
}
.text-travel-part-3 {
  color: rgba(1, 85, 98, 1);
}
.text-travel-part-4 {
  color: rgba(0, 0, 0, 1);
}
.text-travel-part-5 {
  color: rgba(0, 0, 0, 1);
}
.button-travel {
  gap: 8px;
  top: 2745px;
  left: 463px;
  width: 197px;
  height: 70px;
  display: flex;
  padding: 14px 24px;
  position: absolute;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.text-button-travel {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.text-explore-description {
  top: 1289px;
  left: 772px;
  color: rgba(0, 0, 0, 1);
  width: 608px;
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: right;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.image-explore {
  top: 182px;
  left: 751px;
  width: 689px;
  height: 924px;
  position: absolute;
}

.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-content {
  width: 100%;
  height: 3204px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(241, 241, 241, 1);
}
.rectangle-explore {
  top: 1192px;
  left: 689px;
  width: 751px;
  height: 755px;
  position: absolute;
}
.text-explore {
  top: 1257px;
  left: 1217px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Medium;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.rectangle-community {
  top: 2043px;
  left: 0px;
  width: 751px;
  height: 824px;
  position: absolute;
}
.rectangle-travel {
  top: 182px;
  left: 0px;
  width: 751px;
  height: 924px;
  position: absolute;
}
.text-make-difference {
  top: 243px;
  left: 79px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Medium;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.image-travel {
  top: 1192px;
  left: 0px;
  width: 689px;
  height: 75;
}

.ellipse-logo {
  top: 16.9501953125px;
  left: 75.900390625px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.whatsapp-image-20240603at19342 {
  top: 24.720458984375px;
  left: 105.86376953125px;
  width: 20px;
  height: 47px;
  position: absolute;
  border-radius: 10px;
}

.wireframe15-group4916 {
  top: 0px;
  left: -5.0498046875px;
  width: 1445.0498046875px;
  height: 114px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.wireframe15-mdiheart {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
}
.wireframe15-rectangle64 {
  top: 0px;
  left: 5.0498046875px;
  width: 1440px;
  height: 114px;
  position: absolute;
}
.wireframe15-text47 {
  top: 41px;
  left: 1110.0498046875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}

.wireframe15-text49 {
  top: 59.52978515625px;
  left: 80.880615234375px;
  color: rgba(244, 250, 252, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 13.349011421203613px;
  font-style: Regular;
  text-align: left;
  font-family: Baloo Bhai 2;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wireframe15-text51 {
  top: 41px;
  left: 913.0498046875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wireframe15-text53 {
  top: 41px;
  left: 693.0498046875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wireframe15-text55 {
  top: 41px;
  left: 543.0498046875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wireframe15-text57 {
  top: 41px;
  left: 483.0498046875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.wireframe15-group {
  top: 23.666748046875px;
  left: 1313.71630859375px;
  width: 66.66666412353516px;
  height: 66.66666412353516px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.wireframe15-vector2 {
  top: 0px;
  left: 0px;
  width: 67px;
  height: 67px;
  position: absolute;
}
.wireframe15-vector3 {
  top: 13.333251953125px;
  left: 7.570149898529053px;
  width: 52px;
  height: 41px;
  position: absolute;
}
