.integrantes-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.integrantes-integrantes {
  width: 100%;
  height: 1043px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(241, 241, 241, 1);
}
.integrantes-text {
  top: 856px;
  left: 1197px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.integrantes-group4916 {
  top: 0px;
  left: -5.0498046875px;
  width: 1445.0498046875px;
  height: 114px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.integrantes-mdiheart {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
}
.integrantes-rectangle64 {
  top: 0px;
  left: 5.0498046875px;
  width: 1440px;
  height: 114px;
  position: absolute;
}
.integrantes-text02 {
  top: 41px;
  left: 1110.0498046875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.integrantes-ellipse2 {
  top: 16.9501953125px;
  left: 66.9501953125px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.integrantes-whats-app-image20240603at19342 {
  top: 24.720458984375px;
  left: 96.91357421875px;
  width: 20px;
  height: 47px;
  position: absolute;
  border-radius: 10px;
}
.integrantes-text04 {
  top: 59.52978515625px;
  left: 80.880615234375px;
  color: rgba(244, 250, 252, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 13.349011421203613px;
  font-style: Regular;
  text-align: left;
  font-family: Baloo Bhai 2;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.integrantes-text06 {
  top: 41px;
  left: 913.0498046875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.integrantes-text08 {
  top: 41px;
  left: 693.0498046875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.integrantes-text10 {
  top: 41px;
  left: 543.0498046875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.integrantes-text12 {
  top: 41px;
  left: 483.0498046875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Space Grotesk;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.integrantes-group {
  top: 14.652236938476562px;
  left: 1313.71630859375px;
  width: 66.66666412353516px;
  height: 41.27375793457031px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.integrantes-vector {
  top: 0px;
  left: 0px;
  width: 90px;
  height: 73px;
  position: absolute;
}
.integrantes-vector1 {
  right: -16px;
  width: 73px;
  bottom: -11px;
  height: 38px;
  position: absolute;
}
.integrantes-text14 {
  top: 188px;
  left: 578px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.integrantes-rectangle68 {
  top: 336px;
  left: 106px;
  width: 390px;
  height: 579px;
  position: absolute;
  border-radius: 25px;
}
.integrantes-rectangle71 {
  top: 336px;
  left: 525px;
  width: 390px;
  height: 579px;
  position: absolute;
  border-radius: 25px;
}
.integrantes-rectangle72 {
  top: 336px;
  left: 944px;
  width: 410px;
  height: 580px;
  position: absolute;
  border-radius: 25px;
}
.integrantes-file1 {
  top: 336px;
  left: 525px;
  width: 390px;
  height: 363px;
  position: absolute;
  border-radius: 20px 20px 0 0;
}
.integrantes-untitled1 {
  top: 336px;
  left: 106px;
  width: 390px;
  height: 363px;
  position: absolute;
  border-radius: 20px 20px 0 0;
}
.integrantes-text16 {
  top: 732px;
  left: 130px;
  color: rgba(0, 0, 0, 1);
  width: 342px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.integrantes-text22 {
  top: 732px;
  left: 549px;
  color: rgba(0, 0, 0, 1);
  width: 342px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.integrantes-text28 {
  top: 725px;
  left: 971px;
  color: rgba(0, 0, 0, 1);
  width: 335px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.integrantes-image4390010903951364334889405605765832719705175n1 {
  top: 336px;
  left: 944px;
  width: 407px;
  height: 363px;
  position: absolute;
  border-radius: 20px 20px 0 0;
}
